*{margin: 0; padding: 0; box-sizing: border-box;}
*::before,
*::after{margin: 0; padding: 0; box-sizing: border-box;}
ul, ol, li{list-style: none;}
a{text-decoration: none;}

.step{max-width: 1180px; margin: 0 auto;}

.indicator{width: 80px; height: 12px; margin: 60px auto 40px; display: flex;}
.indicator span{display: block; width: 12px; height: 12px; margin-right: 5px; background: url(../img/ico_indicator.png) no-repeat -17px 0;}
.indicator span:last-of-type{margin-right: 0;}

h2{font-size: 38px; text-align: center;}
h2 + p{margin: 22px 0 48px; font-size: 20px; text-align: center;}
h3{font-size: 28px;}

/* button */
.btn{display: block; width: 150px; height: 56px; text-align: center; line-height: 50px; font-weight: bold; font-size: 16px; color: #fff; border: 1px solid #d60815; border-radius: 3px; background-color: #d60815;}
.btn:hover{border: 1px solid #000;}

/* table */
table{border-collapse : collapse; border-spacing : 0;}
table th,
table td{height: 45px; padding: 25px 15px; border-bottom: 1px solid #cfd0d0;}

/* input */
input{position: relative; margin-right: 13px; padding: 19px 20px; border: 0; background-color: #f9f9f9; font-size: 15px;}
input[type="checkbox"]{width: 20px; height: 20px; margin-right: 10px;}
input[type="checkbox"]::before{content: ''; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: url(../img/bg_checkbox_default.png) no-repeat;}
input[type="checkbox"]:checked:before{background: url(../img/bg_checkbox_check.png) no-repeat;}
input[type="checkbox"] + label{font-size: 22px;}
input[type="text"]{height: 45px; width: 346px;}
input[type="tel"]{height: 45px; width: 182px;}
input[type="password"]{height: 45px; width: 330px;}
input[type="email"]{height: 45px; width: 230px;}

select{display: inline-block; height: 45px; padding: 15px; margin-right: 13px; background-color: #f9f9f9; border: 0;}